body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.mainWrap {
  margin: 0;
  padding: 0 0 4rem;
  border: 1px solid transparent;
  border-bottom-color: lightgray;
}
.text-big {
  font-size: x-large;
}

/* fetch */
.fetchWrap {
  min-width: 25%;
  width: fit-content;
  margin: 1rem auto 1.5rem;
}

/* output */
.outputWrap {
  min-width: 36%;
  width: fit-content;
  margin: 0 auto;
}
#output {
  min-height: 100px !important;
}
#output > div {
  width: fit-content; 
  margin: 1rem auto;
  padding: 0 .5rem;
}
#placeholder {
  opacity: .2;
}

/* footer */
footer a {
  color: lime;
}
footer a:hover {
  color: lightgreen;
}
footer span {
  display: block;
}
